- title = 'Post Time'

section.post
  h1.title Booyan

  section.commit
    .message Commit message
    
    .diffs
      ul.files
        li
          h3.filename Filename

          ul.patch
            li Patch line
  
